set terminal pdfcairo size 16,34 enhanced font 'Verdana,12'
set output 'MACHINE-SEL-CACHE-BUFFERS-optimal-log.pdf'

set log x
set log y
set yrange [0.01:]
set key bottom right

set xlabel 'selectivity'

set multiplot layout 9,3 rowsfirst
