set terminal pdfcairo size 16,40 enhanced font 'Verdana,12'
set output 'MACHINE-SEL-CACHE-BUFFERS-PREFETCH.pdf'
#set output 'MACHINE-SEL-CACHE-SCALE.pdf'


set log x
set yrange [0:]
set key top left

set xlabel 'selectivity'

set multiplot layout 11,3 rowsfirst
