set title 'DATASET / bitmapscan' font 'Verdana Bold,12'

set ylabel 'duration'

plot "data/MACHINE/DATASET-bitmapscan-off-EIC-io_uring-3-BUFFERS.data"  using X:Y with points pt 7 ps 0.75 title "io\\\_uring", \
     "data/MACHINE/DATASET-bitmapscan-off-EIC-sync-3-BUFFERS.data"      using X:Y with points pt 7 ps 0.75 title "sync", \
     "data/MACHINE/DATASET-bitmapscan-off-EIC-worker-3-BUFFERS.data"    using X:Y with points pt 7 ps 0.75 title "worker", \
     "data/MACHINE/DATASET-bitmapscan-off-EIC-worker-12-BUFFERS.data"    using X:Y with points pt 7 ps 0.75 title "worker (12)"

unset ylabel

set title 'DATASET / indexscan'

plot  "data/MACHINE/DATASET-indexscan-off-EIC-io_uring-3-BUFFERS.data"   using X:Y with points pt 7 ps 0.75 title "io\\\_uring", \
     "data/MACHINE/DATASET-indexscan-off-EIC-sync-3-BUFFERS.data"       using X:Y with points pt 7 ps 0.75 title "sync", \
     "data/MACHINE/DATASET-indexscan-off-EIC-worker-3-BUFFERS.data"     using X:Y with points pt 7 ps 0.75 title "worker", \
     "data/MACHINE/DATASET-indexscan-off-EIC-worker-12-BUFFERS.data"     using X:Y with points pt 7 ps 0.75 title "worker (12)"

set title 'DATASET / indexscan (prefetch)'

plot  "data/MACHINE/DATASET-indexscan-on-EIC-io_uring-3-BUFFERS.data"   using X:Y with points pt 7 ps 0.75 title "io\\\_uring", \
     "data/MACHINE/DATASET-indexscan-on-EIC-sync-3-BUFFERS.data"       using X:Y with points pt 7 ps 0.75 title "sync", \
     "data/MACHINE/DATASET-indexscan-on-EIC-worker-3-BUFFERS.data"     using X:Y with points pt 7 ps 0.75 title "worker", \
     "data/MACHINE/DATASET-indexscan-on-EIC-worker-12-BUFFERS.data"     using X:Y with points pt 7 ps 0.75 title "worker (12)"

set title 'DATASET / seqscan'

plot "data/MACHINE/DATASET-seqscan-off-EIC-io_uring-3-BUFFERS.data"     using X:Y with points pt 7 ps 0.75 title "io\\\_uring", \
     "data/MACHINE/DATASET-seqscan-off-EIC-sync-3-BUFFERS.data"         using X:Y with points pt 7 ps 0.75 title "sync", \
     "data/MACHINE/DATASET-seqscan-off-EIC-worker-3-BUFFERS.data"       using X:Y with points pt 7 ps 0.75 title "worker", \
     "data/MACHINE/DATASET-seqscan-off-EIC-worker-12-BUFFERS.data"       using X:Y with points pt 7 ps 0.75 title "worker (12)"

set title 'DATASET / smoothscan'

plot "data/MACHINE/DATASET-smoothscan-off-EIC-io_uring-3-BUFFERS.data"     using X:Y with points pt 7 ps 0.75 title "io\\\_uring", \
     "data/MACHINE/DATASET-smoothscan-off-EIC-sync-3-BUFFERS.data"         using X:Y with points pt 7 ps 0.75 title "sync", \
     "data/MACHINE/DATASET-smoothscan-off-EIC-worker-3-BUFFERS.data"       using X:Y with points pt 7 ps 0.75 title "worker", \
     "data/MACHINE/DATASET-smoothscan-off-EIC-worker-12-BUFFERS.data"       using X:Y with points pt 7 ps 0.75 title "worker (12)"
